<!-- =========================
FAQ Tab section
===========================-->
<div class="py-[70px]">
  <!-- for above md devices  -->
  <div
    role="tablist"
    data-ns-animate
    data-delay="0.5"
    class="hidden md:flex tab-bar justify-center items-center border-b border-stroke-2 dark:border-stroke-6 relative"
  >
    <!-- active-tab-bar  -->
    <div class="active-tab-bar"></div>

    <button
      class="py-3 cursor-pointer focus-visible:outline-0 px-10 -mb-px data-[state=selected]:text-secondary text-secondary/60 dark:data-[state=selected]:text-accent dark:text-accent/60"
    >
      <span class="text-tagline-1 font-medium">General</span>
    </button>
    <button
      class="py-3 cursor-pointer focus-visible:outline-0 px-10 -mb-px data-[state=selected]:text-secondary text-secondary/60 dark:data-[state=selected]:text-accent dark:text-accent/60"
    >
      <span class="text-tagline-1 font-medium">Violations & Notices</span>
    </button>
    <button
      class="py-3 cursor-pointer focus-visible:outline-0 px-10 -mb-px data-[state=selected]:text-secondary text-secondary/60 dark:data-[state=selected]:text-accent dark:text-accent/60"
    >
      <span class="text-tagline-1 font-medium">Dispute Process</span>
    </button>
    <button
      class="py-3 cursor-pointer focus-visible:outline-0 px-10 -mb-px data-[state=selected]:text-secondary text-secondary/60 dark:data-[state=selected]:text-accent dark:text-accent/60"
    >
      <span class="text-tagline-1 font-medium">Privacy</span>
    </button>
    <button
      class="py-3 cursor-pointer focus-visible:outline-0 px-10 -mb-px data-[state=selected]:text-secondary text-secondary/60 dark:data-[state=selected]:text-accent dark:text-accent/60"
    >
      <span class="text-tagline-1 font-medium">Terms & Conditions</span>
    </button>
  </div>

  <!-- for less md devices  -->
  <div class="tab-mobile flex items-center flex-wrap md:hidden gap-4">
    <button
      class="px-3.5 py-2 min-w-16 text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 border border-stroke-2 dark:border-stroke-7 rounded-full dark:bg-background-7"
    >
      General
    </button>
    <button
      class="px-3.5 py-2 min-w-16 text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 border border-stroke-2 dark:border-stroke-7 rounded-full dark:bg-background-7 text-nowrap"
    >
      Violations & Notices
    </button>
    <button
      class="px-3.5 py-2 min-w-16 text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 border border-stroke-2 dark:border-stroke-7 rounded-full dark:bg-background-7 text-nowrap"
    >
      Dispute Process
    </button>
    <button
      class="px-3.5 py-2 min-w-16 text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 border border-stroke-2 dark:border-stroke-7 rounded-full dark:bg-background-7"
    >
      Privacy
    </button>
    <button
      class="px-3.5 py-2 min-w-16 text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 border border-stroke-2 dark:border-stroke-7 rounded-full dark:bg-background-7 text-nowrap"
    >
      Terms & Conditions
    </button>
  </div>

  <!-- tab navigation  -->
<!--  <div class="pt-[100px]" data-ns-animate data-delay="0.5">-->
<!--    <div class="tabs-nav">-->
<!--      <nav>-->
<!--        <ul-->
<!--          class="flex md:flex-col md:space-y-3 xl:space-x-6 lg:space-x-4 space-x-3 md:space-x-0 md:overflow-y-scroll md:max-h-[400px] overflow-x-scroll bg-background-2 dark:bg-background-7 p-3 rounded-[20px]"-->
<!--          role="tablist"-->
<!--        >-->
<!--          <li role="presentation">-->
<!--            <button-->
<!--              id="general-tab"-->
<!--              class="tab-link active whitespace-nowrap"-->
<!--              role="tab"-->
<!--              aria-controls="general"-->
<!--              aria-selected="true"-->
<!--              data-tab="general"-->
<!--            >-->
<!--              General-->
<!--            </button>-->
<!--          </li>-->
<!--          <li role="presentation">-->
<!--            <button-->
<!--              id="violations-tab"-->
<!--              class="tab-link whitespace-nowrap"-->
<!--              role="tab"-->
<!--              aria-controls="violations"-->
<!--              aria-selected="false"-->
<!--              data-tab="violations"-->
<!--            >-->
<!--              Violations & Notices-->
<!--            </button>-->
<!--          </li>-->
<!--          <li role="presentation">-->
<!--            <button-->
<!--              id="disputes-tab"-->
<!--              class="tab-link whitespace-nowrap"-->
<!--              role="tab"-->
<!--              aria-controls="disputes"-->
<!--              aria-selected="false"-->
<!--              data-tab="disputes"-->
<!--            >-->
<!--              Dispute Process-->
<!--            </button>-->
<!--          </li>-->
<!--          <li role="presentation">-->
<!--            <button-->
<!--              id="privacy-tab"-->
<!--              class="tab-link whitespace-nowrap"-->
<!--              role="tab"-->
<!--              aria-controls="privacy"-->
<!--              aria-selected="false"-->
<!--              data-tab="privacy"-->
<!--            >-->
<!--              Privacy-->
<!--            </button>-->
<!--          </li>-->
<!--          <li role="presentation">-->
<!--            <button-->
<!--              id="terms-tab"-->
<!--              class="tab-link whitespace-nowrap"-->
<!--              role="tab"-->
<!--              aria-controls="terms"-->
<!--              aria-selected="false"-->
<!--              data-tab="terms"-->
<!--            >-->
<!--              Terms & Conditions-->
<!--            </button>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </div>-->
</div>
